@mixin center {
    display: flex;
    justify-content: center;
    gap: 1em;
}

@mixin upbold {
    font-weight: bold;
    text-transform: uppercase;
}

@mixin space_around {
    display: flex;
    justify-content: space-around;
}

@mixin button {
    background-color: #303030;
    border: 3px solid rgb(35, 56, 219);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}